
{% extends "base.html" %}
{% block title %} New Password {% endblock %}

{% block content %}

<h1> Choose a New Password</h1>
<div class="auth-grid">
<div class="auth-card">
    <form action="{{url_for('auth.password_reset_confirm', token = token)}}" method="post">
        <input type="hidden" name="token" value="{{ token}}" >
        <label for="password"> Password: </label>
        <input type="password" id="password" name="password" style="width: 100px;" required>
        <br><br>
        <label for="verifypassword"> Confirm Password: </label>
        <input type="password" id="verifypassword" name="verifypassword" style="width: 100px;" required>
        <br>
        <br><br>
        <button type="submit" class="greenButton" > Update Password </button>
    </form>

    </div>
</div>
{% endblock %}