{% extends "base.html" %}
{% block title %} Categories {% endblock %}

{% block content %}
<h1> Categories </h1>
        <button class="greenButton" type="submit">
            <a href="{{url_for('category.add_category')}}"> Add a New Category </a>
        </button>

<div class="product-grid"></div>
{% for category in category %}

<h4> {{category.category_name}} </h4>

    {% if 'category.delete' in g.user.permissions %}
    <button class="redButton">
        <a  href="{{ url_for ('category.delete_category', category_id = category.category_id)}}"> 
            Delete</a>
    </button>
    {% endif %}


{% endfor %}
</div>
{% endblock %}
