{% extends "base.html" %}
{% block title %} Delete Product {% endblock %}

{% block content %}
<h1> Delete Product </h1>


<br>
    <p> Are you sure you want to delete <strong> {{product.product_name}} </strong> ? </p>
    <p> Description: {{product.description}}</p>
    <p> $ {{product.price}}</p>
    <br>

<form method="POST" action="{{ url_for('products.delete_product', product_id=product.product_id) }}">
    <button type="submit" class="redButton">Delete</button>
</form>
<br>
        <button class="greenButton" type="submit">
            <a href="{{url_for('products.product_details', product_id=product.product_id)}}"> Cancel </a>
        </button>
{% endblock %}