@media only screen and (max-width: 480px) {
  
    body {
        font-size: 90%;
        padding: 1em;
        width: 90%;
    }

    main {
    flex: 1;
    margin-left: 1.5em;
    margin-right: 1.5em;
    }

    /*columns */
    .left, .right {
        width: 90%;
        display: block;
        float: inline-start;
        margin: 2%;
    }


    /*main */

    #logo {
        font-size:x-large;
        text-align: center;
        }


    h1 {
        text-align: center;
        font-size: 1.5em;
        width: 95%;
        margin: 0.5em;
        margin-top: 1em;
    }
    #hamburger {
        display: block;
    }

    #navMenu {
        display: none;
        position: absolute;
        top: 90px;
        left: 25px;
        border: 2px black solid;
        width: 30%;
        background-color: rgb(41, 151, 155);
        flex-direction: column;
        padding: 5px 0;
        z-index: 1000;
    }
    #navMenu a{
        display: block;
        padding: 5px;
        border-top: 1px black solid;
    }
    #navMenu.show {
        display: block;
    }
    
    /* buttons */
    .prod-buttons  {
        display: block;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    .authButton {
        float: unset;
    }

    .authButton button {
        height: 2.2em;
    }

    button {
        min-height: 3em;
        max-height: max-content;
        min-width: fit-content;
        padding: 5px;
    }
    .creation {
        height: 40px;
        width: 30%;
        justify-content: center;
    }

    .product-card button {
        display: flex-wrap;
        height: 30px;
        width: 30%;
    }

    .user-card button {
        height: 30px;
        width: 40%;
    }
    .role-card button {
        height: 40px;
        width: 40%;
    }

    /* Grid/layouts */
    .dashboard-grid {
        display: grid;
        flex-direction: column;
        justify-content: center;
        padding: auto;
        margin: auto;
    }

    .dashboard-grid button {
        width: 14em;
        height: 14px;
        font-size: large;
    }

    .product-grid, .order-grid, .user-grid, .role-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;
        margin: auto;
    }

    .product-card, .user-card, .role-card, .category-card {
        display: grid;
        border: 2px solid black;
        flex-direction: column;
        text-align: center;
        margin: 2px;
        overflow-wrap: break-word;
    }

        /* Delete Page */

    .delete-q {
        text-align: center;
    }
    .delete-grid {
        display: block;
        text-align: center;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .delete-card {
        display: inline-block;
        padding: 5px;
        border: 2px solid black;
        text-align: left;
        overflow-wrap: break-word;
        margin: auto;
    }
    .delete-card form {
        text-align: center;
    }

    /* Order/Cart Tables */

    .order-table-container {
        display: flex;
        justify-content: center;
    }
    .order-table {
        border: 2px black solid;
    }
    .order-table th {
        font-size: 1.2em;
    }
    .order-table th,  .order-table td {
        font-size: 1em;
        padding: 1px;
        border-bottom: 2px solid black;
        border-right: 1px black solid;
        text-align: center;
    }


    
    /*MFA */
    .qr-code {
        display: block;
        margin: auto;
        width: 80%;
        height: 80%;
    }
    /* footer */

    footer {
        order: 100;
    } 

}