
header {
    background-color: rgba(0, 128, 128, 0.925);
    color: white;
    padding: 5px;
    text-align: center; 

}

header a {
    color: white;
}
body {
    background-color: antiquewhite;
}
footer {
    background-color: rgb(37, 37, 37);
    color: white;
}

#hamburger {
    display: none;
}

#navMenu a {
    text-decoration: none;
}

.authButton {
    display: flexbox;
    float: right;
}

.authButton Button {
    width: 7em;
}

#logo {
 font-size:x-large;
 text-align: left;
}
h1 {
    text-align: center;
}

a {
    color: white;
}

.greenButton {
    background-color: green;
    color: white;
}
.blueButton {
    background-color: rgb(59, 121, 255);
}
.redButton {
    background-color: rgba(255, 0, 0, 0.74);
}
.orangeButton {
    background-color: orange;
}
.pinkButton {
    background-color: rgb(252, 143, 161);
}

.purpleButton {
    background-color: rgb(168, 108, 247);
}
.yellowButton {
    background-color: rgb(233, 214, 44);
}
button {
    border-radius: 4px;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
}
button:hover{
    font-weight: bold;
    border-color: rgb(209, 255, 207);
}

.creation {
    height: 40px;
    width: 20%;
    justify-content: center;
}

.dashboard-grid {
    margin-left: 50px;
    justify-content: center;
}
.dashboard-grid button {
    justify-content: space-between;
    height: 100px;
    width: 300px;
    margin: 10px;
    font-size: larger;
    border-radius: 10px;
    border-width: 4px;
    border-color: black;
}


.order-detail {
   margin: 3px;
}
.product-grid, .order-grid, .user-grid{
    justify-content: space-between;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.product-card, .user-card, .role-card, .category-card{
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    flex-direction: column;
    overflow-wrap: break-word;
}
.product-card h2  {
    text-align: center;
}


.order-table-container {
    display: flex;
    justify-content: center;
}
.order-table {
    border: 2px black;
}
.order-table th {
    font-size: 18px;
}
.order-table th, td {
    padding: 2px;
    border: 2px solid black;
    text-align: center;
}