{% extends "base.html" %}
{% block title %} Order Details {% endblock %}

{% block content %}
<h1> Order Details, Order: {{order.order_id}}  </h1>

<p> User: {{order.username}}</p>   
    <p>Total: $ {{order.total}} </p>
    <p> Order Created: {{order.created_at }} <p> Order Updated: {{order.updated_at}} </p> </p>
<p> Status: {{order.status}}</p>
{% if 'order.edit' in g.user.permissions  %}
<form method="POST" action="{{ url_for('orders.update_order', order_id=order.order_id) }}">
    <select name="status">
        <option value="pending">Pending</option>
        <option value="processing">Processing</option>
        <option value="shipped">Shipped</option>
        <option value="completed">Completed</option>
        <option value="cancelled">Cancelled</option>
    </select>
    <button type="submit" class="orangeButton">Update Status</button>
</form>
{% endif %}

<hr>
<div class="order-table-container">
<table class="order-table">
    <thead>
    <tr> 
        <th> Order Item ID</th>
        <th> Product</th>
        <th> Product ID </th>
        <th> Qty.</th>
        <th> Purchase Price </th>
        <th>  Item Total </th>

    </tr>
    </thead>

    <tbody>
    {% for item in items %}
    <tr>
        <td> {{ item.order_item_id}} </td>
        <td> {{ item.product_name }}</td>
        <td> {{item.product_id}}</td>
        <td> {{item.quantity }} </td>
        <td> $ {{item.price}}</td>
        <td> $ {{item.item_total}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
    <br>
    {% if 'order.delete.own' in g.user.permissions %}
     {% if 'order.delete.all' in g.user.permissions %}
    <button class="redButton delete-grid">
        <a  href="{{ url_for ('orders.delete_order', order_id= order.order_id)}}"> <!-- product_id = product.id  --> 
            Delete Order</a>
    </button>
    {% endif %}
    {% endif %}



{% endblock %}