{% extends "base.html" %}
{% block title %} Roles- Add {% endblock %}

{% block content %}

<h1> Create a Role </h1>

<form action="{{url_for('admin.create_role')}}" method="post">
    <label for="name"> Role Name: </label>
    <input type="text" id="name" name="name">
    <br><br>
    <label for="description"> Role Description: </label>
    <input type="text" id="description" name="description" style="width: 500px;">
    <br>
    <br>
    <button type="submit" class="greenButton creation"> Create Role </button>
</form>

{% endblock %}