{% extends "base.html" %}
{% block title %} User- Delete {% endblock %}

{% block content %}
<h1> Delete User </h1>
<div class="delete-grid">
    <h4 class="delete-q"> Are you sure you want to delete user: <strong> {{user.username}}</strong> ? </h4>
    <div class="delete-card">
    <p> User ID: {{user.user_id}}</p>
    <p> User Email: {{user.email}}</p>
    <p> User Role: {{user.role}} </p>
    <form method="POST" action="{{ url_for('admin.delete_user', user_id=user.user_id) }}">
    <button type="submit" class="redButton"> Delete User </button>
    </form>

    </div>
</div>


{% endblock %}