{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}
<h1> My Cart </h1>

{% if cart_items %}
<div class="order-table-container">
<table class="order-table">
    <tr> 
        <th> Product</th>
        <th> Quantity</th>
        <th> Price </th>
        <th> Total </th>
        <th></th>
    </tr>
    {% for item in cart_items %}
    <tr>
        <td> {{ item.product.product_name }}</td>
        <td> {{item.quantity }} </td>
        <td> {{item.product.price}}</td>
        <td> {{item.item_total}}</td>
        <td> 
            <form method='POST' action="{{url_for('cart.remove_from_cart', product_id = item.product.product_id)}}">
            <button type="submit" class="redButton"> Remove </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
<h2> Total: ${{ total }} </h2>
<form method="POST" action="{{url_for('orders.create_order')}}">
    <button type="submit" class="greenButton"> Place Order </button>
</form>
{% else %}
 
<p> Your Cart is Empty. </p>
{% endif %}

{% endblock %}
