{% extends "base.html" %}

{% block title %} Moderator Dashboard {% endblock %}

{% block content %}

<h1>Welcome Back, Moderator: {{ g.user.username }}!</h1>

    {% if g.user and not g.user.mfa_enabled %}
    <div class="banner-warning center1">
        <p> Setup Two-Factor Authentication to access protected content. 
        <button class="greenButton"><a href="{{url_for('auth.setup_2fa')}}"> Enable 2FA</a> </button>  </p>
    </div>
    {% endif %}


<div class="dashboard-grid">

    <button class="blueButton">
        <a href="{{ url_for('orders.view_orders') }}" > My Orders </a>
    </button>

    <button class="purpleButton">
        <a href="{{ url_for('reviews.view_all_reviews') }}" > Reviews </a>
    </button>

    <button class="orangeButton">
        <a href="{{ url_for('products.get_products') }}"> Products </a>
    </button>

    <button class="yellowButton">
        <a href="{{ url_for('category.view_categories') }}" > Categories </a>
    </button>

    <button class="greenButton">
        <a href="{{ url_for('auth.profile') }}" > My Profile </a>
    </button>

</div>

{% endblock %}